@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* RESET */
html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.container{
    max-width: 1100px;
    margin: 0px auto 0px;
    position: relative;
}
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

} */
/* SHORTCUT */
.d_flex{
    display: flex;
}
.jus_con_cen{
    justify-content: center;
}
.al_it_cen{
    align-items: center;
}
.jus_con_sp_bet{
    justify-content: space-between;
}
.pad0{
    padding:0;
}
.marg0{
    margin:0;
}
.txt_ali_cen{
    text-align: center;
}
/* HEADERTOP */
header{
    background-color: #1EC8E7;
    color: #fff;  
    font-family: 'Open Sans', sans-serif;  
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 50px;
}
header .headertop a{
    color: #fff; 
}
/* left */
.headertop .left ul li{
    margin-right: 20px;
}
.headertop .left ul li i{
    margin-right: 10px;
}

/* right */
.headertop .right .social ul li {
    margin-left: 20px;
}
.headertop .right .register ul li{
    margin-left: 10px;
}
.headertop .right .register ul{
    padding-left: 20px;
}
.headertop .right .register ul span{
    font-size: 22px;
    margin: -4px;
}  
/* bottom */
header .headerbottom {
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 9;
}
header .headerbottom a{
    color: #000;
    transition: all 0.3s;
}
header .headerbottom a:hover{
    color:#ff6d34;  
}
/* logo */
header .headerbottom .logo,.search{
    width: 25%;
}
header .headerbottom .logo img{
    width: 75%;
    padding: 20px 20px;
}
/* menu */
header .headerbottom .menu{
    width: 50%;
}
header .headerbottom .menu ul{
    margin:0;
}
header .headerbottom .menu>ul>li{
    padding: 35px 0px;
}
header .headerbottom .menu ul li ul{
    position: absolute;
    z-index: 9;
    margin-top: 60px;
    margin-left: -10px;
    padding: 10px 30px 10px 10px;
    line-height: 3;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
header .headerbottom .menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    margin-top:36px;
}
/* search */
header .headerbottom .search>ul{
    justify-content: flex-end;
    padding: 0px 20px;
    margin: 0;
}
header .headerbottom .search>ul>li{
    margin-left:20px;
    padding: 35px 0px;
}
.search .shopingbag{
    min-width: 260px;
    position: absolute;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 60px;
    left: 68%;
    padding: 20px 20px 20px 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
header .headerbottom .search>ul>li:hover .shopingbag{
    opacity: 1;
    visibility: visible;
    margin-top:36px;
}
.search .shopingbag .product,.total{
    border-bottom: 1px solid #ddd;
}
.search .shopingbag .product .image{
    width: 75px;
}
.search .shopingbag .image img{
    max-width: 100%;
}
.search .shopingbag p{
    color: #777;
    font-size: 16px;
}
.search .shopingbag span{
    color: #000;
    font-weight: 600;
    font-size: 15px;
}
.search .shopingbag h5{
    margin:0;
    font-size: 16px;
    line-height: 30px;
    color: #000;
    font-weight: 600;
}
/* payment */
.search .shopingbag .payment a{
    display: inline-block;
    margin-top: 10px;
}
.search .shopingbag .payment a:first-child{
    background-color: #ff6d34;
    margin-right: 5px;
    padding: 10px 15px;
    border-radius: 10px;
}
.search .shopingbag .payment a:first-child:hover{
    background-color: #a54620;
}
.search .shopingbag .payment a:last-child{
    background-color: #1EC8E7;
    margin-left: 5px;
    padding: 10px 15px;
    border-radius: 10px;
}
.search .shopingbag .payment a:last-child:hover{
    background-color: rgb(22, 113, 129);
}
.search .shopingbag .payment a:hover{
    color: rgb(255, 255, 255);
}

/* BLOG SIDEBAR */
main .blogsidebar {
    background-image: url(../img/sydney.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color-burn;
    background-color: rgba(0, 0, 0, 0.753);
}
main .blogsidebar .container{
    padding: 120px 0px;
}
main>.blogsidebar a{
    color: #fff;
}
main>.blogsidebar h1 {
    color: #fff;
    margin-top: 0;
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;   
}
main>.blogsidebar .homeblog{
    display:inline-block;
    background-color: #1EC8E7;
    padding: 8px 20px;
    border-radius: 5px;
}
main>.blogsidebar .homeblog a{
    margin: 10px;
}
main>.blogsidebar .homeblog .home{
    position: relative;
}
main>.blogsidebar .homeblog .home:after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    top: 8px;
    right: -16px;
    cursor: auto;
}